## 1Y, 2Y, 3Y, 5Y, 10Y

In [2]:
import pandas as pd
import openpyxl
import os

file_list=[]
path = './SwapBasis/1Y/'
file_path = os.listdir(path)
for i in file_path:
    file_list.append(i)
    file_list.sort()
file_list

['Basis1year_20120801.xlsx',
 'Basis1year_20130801.xlsx',
 'Basis1year_20140801.xlsx',
 'Basis1year_20150801.xlsx',
 'Basis1year_20160801.xlsx',
 'Basis1year_20170801.xlsx',
 'Basis1year_20180801.xlsx',
 'Basis1year_20190801.xlsx',
 'Basis1year_20200801.xlsx',
 'Basis1year_20210801.xlsx']

In [3]:
y1 = pd.DataFrame()

for i in file_list:
    data = pd.read_excel(path + i)
    y1 = pd.concat([y1,data])
y1 = y1.reset_index(drop=True)
y1

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,1Y,2013-07-31,2.04,▼ 0.0300,1.44,▼ 0.0300,1.74,▼ 0.0300,1Y,2013-07-31,2.75,▲ 0.0100,2.71,-,2.730,▲ 0.0050,-99.0
1,1Y,2013-07-30,2.07,▼ 0.0300,1.47,▼ 0.0300,1.77,▼ 0.0300,1Y,2013-07-30,2.74,▲ 0.0100,2.71,▲ 0.0100,2.725,▲ 0.0100,-95.5
2,1Y,2013-07-29,2.10,▲ 0.0400,1.50,▲ 0.0400,1.80,▲ 0.0400,1Y,2013-07-29,2.73,▼ 0.0300,2.70,▼ 0.0200,2.715,▼ 0.0250,-91.5
3,1Y,2013-07-26,2.06,▲ 0.0100,1.46,▲ 0.0100,1.76,▲ 0.0100,1Y,2013-07-26,2.76,-,2.72,-,2.740,-,-98.0
4,1Y,2013-07-25,2.05,▲ 0.0300,1.45,▲ 0.0300,1.75,▲ 0.0300,1Y,2013-07-25,2.76,▲ 0.0200,2.72,▲ 0.0200,2.740,▲ 0.0200,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,1Y,2021-08-06,0.92,▲ 0.0400,0.32,▲ 0.0400,0.62,▲ 0.0400,1Y,2021-08-06,1.11,▲ 0.0100,1.10,▲ 0.0100,1.105,▲ 0.0100,-48.5
2465,1Y,2021-08-05,0.88,▲ 0.0200,0.28,▲ 0.0200,0.58,▲ 0.0200,1Y,2021-08-05,1.10,▼ 0.0100,1.09,▼ 0.0100,1.095,▼ 0.0100,-51.5
2466,1Y,2021-08-04,0.86,▼ 0.0100,0.26,▼ 0.0100,0.56,▼ 0.0100,1Y,2021-08-04,1.11,▼ 0.0100,1.10,▼ 0.0100,1.105,▼ 0.0100,-54.5
2467,1Y,2021-08-03,0.87,▼ 0.0100,0.27,▼ 0.0100,0.57,▼ 0.0100,1Y,2021-08-03,1.12,-,1.11,-,1.115,▼ 0.0000,-54.5
2468,1Y,2021-08-02,0.88,▼ 0.0200,0.28,▼ 0.0200,0.58,▼ 0.0200,1Y,2021-08-02,1.12,▼ 0.0100,1.11,▼ 0.0100,1.115,▼ 0.0100,-53.5

In [4]:
y1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CRS         2469 non-null   object
 1   DateTime    2469 non-null   datetime64[ns]
 2   Ask         2469 non-null   float64
 3   전일비         2469 non-null   object
 4   Bid         2469 non-null   float64
 5   전일비.1       2469 non-null   object
 6   Mid         2469 non-null   float64
 7   전일비.2       2469 non-null   object
 8   IRS         2469 non-null   object
 9   DateTime.1  2469 non-null   datetime64[ns]
 10  Ask.1       2469 non-null   float64
 11  전일비.3       2469 non-null   object
 12  Bid.1       2469 non-null   float64
 13  전일비.4       2469 non-null   object
 14  Mid.1       2469 non-null   float64
 15  전일비.5       2469 non-null   object
 16  베이시스        2469 non-null   float64
dtypes: datetime64[ns](2), float64(7), object(8)
memory usage: 328.0+ KB

In [5]:
y1.sort_values("DateTime", inplace=True)
y1.reset_index(drop = True, inplace=True)
y1

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,1Y,2012-08-01,2.14,-,2.04,-,2.09,-,1Y,2012-08-01,2.86,▼ 0.0300,2.84,▼ 0.0300,2.850,▼ 0.0300,-76.0
1,1Y,2012-08-02,2.13,▼ 0.0100,2.03,▼ 0.0100,2.08,▼ 0.0100,1Y,2012-08-02,2.83,▼ 0.0300,2.81,▼ 0.0300,2.820,▼ 0.0300,-74.0
2,1Y,2012-08-03,2.12,▼ 0.0100,2.02,▼ 0.0100,2.07,▼ 0.0100,1Y,2012-08-03,2.80,▼ 0.0300,2.78,▼ 0.0300,2.790,▼ 0.0300,-72.0
3,1Y,2012-08-06,2.12,-,2.02,-,2.07,▼ 0.0000,1Y,2012-08-06,2.82,▲ 0.0200,2.80,▲ 0.0200,2.810,▲ 0.0200,-74.0
4,1Y,2012-08-07,2.14,▲ 0.0200,2.04,▲ 0.0200,2.09,▲ 0.0200,1Y,2012-08-07,2.83,▲ 0.0100,2.81,▲ 0.0100,2.820,▲ 0.0100,-73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,1Y,2022-07-25,2.85,▼ 0.0800,2.25,▼ 0.0800,2.55,▼ 0.0800,1Y,2022-07-25,3.17,▼ 0.0400,3.16,▼ 0.0400,3.165,▼ 0.0400,-61.5
2465,1Y,2022-07-26,2.86,▲ 0.0100,2.26,▲ 0.0100,2.56,▲ 0.0100,1Y,2022-07-26,3.16,▼ 0.0100,3.15,▼ 0.0100,3.155,▼ 0.0100,-59.5
2466,1Y,2022-07-27,2.87,▲ 0.0100,2.27,▲ 0.0100,2.57,▲ 0.0100,1Y,2022-07-27,3.15,▼ 0.0100,3.14,▼ 0.0100,3.145,▼ 0.0100,-57.5
2467,1Y,2022-07-28,2.91,▲ 0.0400,2.31,▲ 0.0400,2.61,▲ 0.0400,1Y,2022-07-28,3.18,▲ 0.0300,3.17,▲ 0.0300,3.175,▲ 0.0300,-56.5
2468,1Y,2022-07-29,2.80,▼ 0.1100,2.20,▼ 0.1100,2.50,▼ 0.1100,1Y,2022-07-29,3.11,▼ 0.0700,3.10,▼ 0.0700,3.105,▼ 0.0700,-60.5

In [6]:
import pandas as pd
import openpyxl
import os

file_list=[]
path = './SwapBasis/2Y/'
file_path = os.listdir(path)
for i in file_path:
    file_list.append(i)
    file_list.sort()

y2 = pd.DataFrame()

for i in file_list:
    data = pd.read_excel(path + i)
    y2 = pd.concat([y2,data])
y2 = y2.reset_index(drop=True)

y2.sort_values("DateTime", inplace=True)
y2.reset_index(drop = True, inplace=True)
y2

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,2Y,2012-08-01,1.86,-,1.77,▲ 0.0100,1.815,▲ 0.0050,2Y,2012-08-01,2.75,▼ 0.0300,2.73,▼ 0.0300,2.740,▼ 0.0300,-92.5
1,2Y,2012-08-02,1.90,▲ 0.0400,1.79,▲ 0.0200,1.845,▲ 0.0300,2Y,2012-08-02,2.70,▼ 0.0500,2.68,▼ 0.0500,2.690,▼ 0.0500,-84.5
2,2Y,2012-08-03,1.88,▼ 0.0200,1.78,▼ 0.0100,1.830,▼ 0.0150,2Y,2012-08-03,2.67,▼ 0.0300,2.65,▼ 0.0300,2.660,▼ 0.0300,-83.0
3,2Y,2012-08-06,1.85,▼ 0.0300,1.76,▼ 0.0200,1.805,▼ 0.0250,2Y,2012-08-06,2.69,▲ 0.0200,2.67,▲ 0.0200,2.680,▲ 0.0200,-87.5
4,2Y,2012-08-07,1.85,-,1.79,▲ 0.0300,1.820,▲ 0.0150,2Y,2012-08-07,2.69,-,2.67,-,2.680,▲ 0.0000,-86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,2Y,2022-07-25,3.03,▼ 0.0900,2.43,▼ 0.0900,2.730,▼ 0.0900,2Y,2022-07-25,3.24,▼ 0.0800,3.23,▼ 0.0800,3.235,▼ 0.0800,-50.5
2465,2Y,2022-07-26,3.00,▼ 0.0300,2.40,▼ 0.0300,2.700,▼ 0.0300,2Y,2022-07-26,3.22,▼ 0.0200,3.21,▼ 0.0200,3.215,▼ 0.0200,-51.5
2466,2Y,2022-07-27,2.99,▼ 0.0100,2.39,▼ 0.0100,2.690,▼ 0.0100,2Y,2022-07-27,3.17,▼ 0.0500,3.16,▼ 0.0500,3.165,▼ 0.0500,-47.5
2467,2Y,2022-07-28,3.03,▲ 0.0400,2.43,▲ 0.0400,2.730,▲ 0.0400,2Y,2022-07-28,3.21,▲ 0.0400,3.20,▲ 0.0400,3.205,▲ 0.0400,-47.5
2468,2Y,2022-07-29,2.86,▼ 0.1700,2.26,▼ 0.1700,2.560,▼ 0.1700,2Y,2022-07-29,3.07,▼ 0.1400,3.06,▼ 0.1400,3.065,▼ 0.1400,-50.5

In [7]:
import pandas as pd
import openpyxl
import os

file_list=[]
path = './SwapBasis/3Y/'
file_path = os.listdir(path)
for i in file_path:
    file_list.append(i)
    file_list.sort()

y3 = pd.DataFrame()

for i in file_list:
    data = pd.read_excel(path + i)
    y3 = pd.concat([y3,data])
y3 = y3.reset_index(drop=True)

y3.sort_values("DateTime", inplace=True)
y3.reset_index(drop = True, inplace=True)
y3

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,3Y,2012-08-01,1.86,-,1.76,▼ 0.0200,1.81,▼ 0.0100,3Y,2012-08-01,2.75,▼ 0.0300,2.73,▼ 0.0300,2.740,▼ 0.0300,-93.0
1,3Y,2012-08-02,1.90,▲ 0.0400,1.80,▲ 0.0400,1.85,▲ 0.0400,3Y,2012-08-02,2.70,▼ 0.0500,2.68,▼ 0.0500,2.690,▼ 0.0500,-84.0
2,3Y,2012-08-03,1.88,▼ 0.0200,1.78,▼ 0.0200,1.83,▼ 0.0200,3Y,2012-08-03,2.67,▼ 0.0300,2.65,▼ 0.0300,2.660,▼ 0.0300,-83.0
3,3Y,2012-08-06,1.85,▼ 0.0300,1.75,▼ 0.0300,1.80,▼ 0.0300,3Y,2012-08-06,2.69,▲ 0.0200,2.67,▲ 0.0200,2.680,▲ 0.0200,-88.0
4,3Y,2012-08-07,1.85,-,1.75,-,1.80,-,3Y,2012-08-07,2.69,-,2.67,-,2.680,▲ 0.0000,-88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,3Y,2022-07-25,3.01,▼ 0.0700,2.41,▼ 0.0700,2.71,▼ 0.0700,3Y,2022-07-25,3.21,▼ 0.0700,3.20,▼ 0.0700,3.205,▼ 0.0700,-49.5
2465,3Y,2022-07-26,2.98,▼ 0.0300,2.38,▼ 0.0300,2.68,▼ 0.0300,3Y,2022-07-26,3.18,▼ 0.0300,3.17,▼ 0.0300,3.175,▼ 0.0300,-49.5
2466,3Y,2022-07-27,2.97,▼ 0.0100,2.37,▼ 0.0100,2.67,▼ 0.0100,3Y,2022-07-27,3.12,▼ 0.0600,3.11,▼ 0.0600,3.115,▼ 0.0600,-44.5
2467,3Y,2022-07-28,3.01,▲ 0.0400,2.41,▲ 0.0400,2.71,▲ 0.0400,3Y,2022-07-28,3.17,▲ 0.0500,3.16,▲ 0.0500,3.165,▲ 0.0500,-45.5
2468,3Y,2022-07-29,2.86,▼ 0.1500,2.26,▼ 0.1500,2.56,▼ 0.1500,3Y,2022-07-29,3.03,▼ 0.1400,3.02,▼ 0.1400,3.025,▼ 0.1400,-46.5

In [8]:
import pandas as pd
import openpyxl
import os

file_list=[]
path = './SwapBasis/5Y/'
file_path = os.listdir(path)
for i in file_path:
    file_list.append(i)
    file_list.sort()

y5 = pd.DataFrame()

for i in file_list:
    data = pd.read_excel(path + i)
    y5 = pd.concat([y5,data])
y5 = y5.reset_index(drop=True)

y5.sort_values("DateTime", inplace=True)
y5.reset_index(drop = True, inplace=True)
y5

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,5Y,2012-08-01,1.77,▼ 0.0500,1.67,▼ 0.0500,1.72,▼ 0.0500,5Y,2012-08-01,2.78,▼ 0.0300,2.76,▼ 0.0300,2.770,▼ 0.0300,-105.0
1,5Y,2012-08-02,1.81,▲ 0.0400,1.71,▲ 0.0400,1.76,▲ 0.0400,5Y,2012-08-02,2.73,▼ 0.0500,2.71,▼ 0.0500,2.720,▼ 0.0500,-96.0
2,5Y,2012-08-03,1.73,▼ 0.0800,1.63,▼ 0.0800,1.68,▼ 0.0800,5Y,2012-08-03,2.70,▼ 0.0300,2.68,▼ 0.0300,2.690,▼ 0.0300,-101.0
3,5Y,2012-08-06,1.69,▼ 0.0400,1.59,▼ 0.0400,1.64,▼ 0.0400,5Y,2012-08-06,2.72,▲ 0.0200,2.70,▲ 0.0200,2.710,▲ 0.0200,-107.0
4,5Y,2012-08-07,1.62,▼ 0.0700,1.52,▼ 0.0700,1.57,▼ 0.0700,5Y,2012-08-07,2.73,▲ 0.0100,2.71,▲ 0.0100,2.720,▲ 0.0100,-115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,5Y,2022-07-25,2.81,▼ 0.1100,2.21,▼ 0.1100,2.51,▼ 0.1100,5Y,2022-07-25,3.13,▼ 0.0900,3.12,▼ 0.0900,3.125,▼ 0.0900,-61.5
2465,5Y,2022-07-26,2.79,▼ 0.0200,2.19,▼ 0.0200,2.49,▼ 0.0200,5Y,2022-07-26,3.10,▼ 0.0300,3.09,▼ 0.0300,3.095,▼ 0.0300,-60.5
2466,5Y,2022-07-27,2.78,▼ 0.0100,2.18,▼ 0.0100,2.48,▼ 0.0100,5Y,2022-07-27,3.04,▼ 0.0600,3.03,▼ 0.0600,3.035,▼ 0.0600,-55.5
2467,5Y,2022-07-28,2.81,▲ 0.0300,2.21,▲ 0.0300,2.51,▲ 0.0300,5Y,2022-07-28,3.09,▲ 0.0500,3.08,▲ 0.0500,3.085,▲ 0.0500,-57.5
2468,5Y,2022-07-29,2.72,▼ 0.0900,2.12,▼ 0.0900,2.42,▼ 0.0900,5Y,2022-07-29,2.95,▼ 0.1400,2.94,▼ 0.1400,2.945,▼ 0.1400,-52.5

In [9]:
import pandas as pd
import openpyxl
import os

file_list=[]
path = './SwapBasis/10Y/'
file_path = os.listdir(path)
for i in file_path:
    file_list.append(i)
    file_list.sort()

y10 = pd.DataFrame()

for i in file_list:
    data = pd.read_excel(path + i)
    y10 = pd.concat([y10,data])
y10 = y10.reset_index(drop=True)

y10.sort_values("DateTime", inplace=True)
y10.reset_index(drop = True, inplace=True)
y10

,CRS,DateTime,Ask,전일비,Bid,전일비.1,Mid,전일비.2,IRS,DateTime.1,Ask.1,전일비.3,Bid.1,전일비.4,Mid.1,전일비.5,베이시스
0,10Y,2012-08-01,1.88,▼ 0.0500,1.78,▼ 0.0500,1.83,▼ 0.0500,10Y,2012-08-01,2.92,▼ 0.0400,2.90,▼ 0.0400,2.910,▼ 0.0400,-108.0
1,10Y,2012-08-02,1.92,▲ 0.0400,1.82,▲ 0.0400,1.87,▲ 0.0400,10Y,2012-08-02,2.87,▼ 0.0500,2.85,▼ 0.0500,2.860,▼ 0.0500,-99.0
2,10Y,2012-08-03,1.77,▼ 0.1500,1.67,▼ 0.1500,1.72,▼ 0.1500,10Y,2012-08-03,2.85,▼ 0.0200,2.83,▼ 0.0200,2.840,▼ 0.0200,-112.0
3,10Y,2012-08-06,1.73,▼ 0.0400,1.63,▼ 0.0400,1.68,▼ 0.0400,10Y,2012-08-06,2.86,▲ 0.0100,2.84,▲ 0.0100,2.850,▲ 0.0100,-117.0
4,10Y,2012-08-07,1.65,▼ 0.0800,1.55,▼ 0.0800,1.60,▼ 0.0800,10Y,2012-08-07,2.88,▲ 0.0200,2.86,▲ 0.0200,2.870,▲ 0.0200,-127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,10Y,2022-07-25,2.66,▼ 0.1100,2.06,▼ 0.1100,2.36,▼ 0.1100,10Y,2022-07-25,2.97,▼ 0.1100,2.96,▼ 0.1100,2.965,▼ 0.1100,-60.5
2465,10Y,2022-07-26,2.64,▼ 0.0200,2.04,▼ 0.0200,2.34,▼ 0.0200,10Y,2022-07-26,2.94,▼ 0.0300,2.93,▼ 0.0300,2.935,▼ 0.0300,-59.5
2466,10Y,2022-07-27,2.63,▼ 0.0100,2.03,▼ 0.0100,2.33,▼ 0.0100,10Y,2022-07-27,2.88,▼ 0.0600,2.87,▼ 0.0600,2.875,▼ 0.0600,-54.5
2467,10Y,2022-07-28,2.65,▲ 0.0200,2.05,▲ 0.0200,2.35,▲ 0.0200,10Y,2022-07-28,2.95,▲ 0.0700,2.94,▲ 0.0700,2.945,▲ 0.0700,-59.5
2468,10Y,2022-07-29,2.56,▼ 0.0900,1.96,▼ 0.0900,2.26,▼ 0.0900,10Y,2022-07-29,2.83,▼ 0.1200,2.82,▼ 0.1200,2.825,▼ 0.1200,-56.5

In [10]:
y10.isna().sum()

CRS           0
DateTime      0
Ask           0
전일비           0
Bid           0
전일비.1         0
Mid           0
전일비.2         0
IRS           0
DateTime.1    0
Ask.1         0
전일비.3         0
Bid.1         0
전일비.4         0
Mid.1         0
전일비.5         0
베이시스          0
dtype: int64

In [11]:

y1 = y1[["DateTime", "베이시스"]]
y1.columns = ["DateTime", "1Y_베이시스"]

y2 = y2[["베이시스"]]
y2.columns = ["2Y_베이시스"]

y3 = y3[["베이시스"]]
y3.columns = ["3Y_베이시스"]

y5 = y5[["베이시스"]]
y5.columns = ["5Y_베이시스"]

y10 = y10[["베이시스"]]
y10.columns = ["10Y_베이시스"]

y1

       DateTime  1Y_베이시스
0    2012-08-01    -76.0
1    2012-08-02    -74.0
2    2012-08-03    -72.0
3    2012-08-06    -74.0
4    2012-08-07    -73.0
...         ...      ...
2464 2022-07-25    -61.5
2465 2022-07-26    -59.5
2466 2022-07-27    -57.5
2467 2022-07-28    -56.5
2468 2022-07-29    -60.5

[2469 rows x 2 columns]

In [12]:
all = pd.concat([y1, y2, y3, y5, y10], axis=1)
all

       DateTime  1Y_베이시스  2Y_베이시스  3Y_베이시스  5Y_베이시스  10Y_베이시스
0    2012-08-01    -76.0    -92.5    -93.0   -105.0    -108.0
1    2012-08-02    -74.0    -84.5    -84.0    -96.0     -99.0
2    2012-08-03    -72.0    -83.0    -83.0   -101.0    -112.0
3    2012-08-06    -74.0    -87.5    -88.0   -107.0    -117.0
4    2012-08-07    -73.0    -86.0    -88.0   -115.0    -127.0
...         ...      ...      ...      ...      ...       ...
2464 2022-07-25    -61.5    -50.5    -49.5    -61.5     -60.5
2465 2022-07-26    -59.5    -51.5    -49.5    -60.5     -59.5
2466 2022-07-27    -57.5    -47.5    -44.5    -55.5     -54.5
2467 2022-07-28    -56.5    -47.5    -45.5    -57.5     -59.5
2468 2022-07-29    -60.5    -50.5    -46.5    -52.5     -56.5

[2469 rows x 6 columns]

In [13]:
all.to_excel('SwapPoint_10.xlsx')