In [1]:
import pandas as pd

In [2]:
crs_20020731 = pd.read_excel('./xlsx/CRS/CRS_20020731.xlsx', index_col=0)
crs_20030731 = pd.read_excel('./xlsx/CRS/CRS_20030731.xlsx', index_col=0)
crs_20040731 = pd.read_excel('./xlsx/CRS/CRS_20040731.xlsx', index_col=0)
crs_20050731 = pd.read_excel('./xlsx/CRS/CRS_20050731.xlsx', index_col=0)
crs_20060731 = pd.read_excel('./xlsx/CRS/CRS_20060731.xlsx', index_col=0)
crs_20070731 = pd.read_excel('./xlsx/CRS/CRS_20070731.xlsx', index_col=0)
crs_20080731 = pd.read_excel('./xlsx/CRS/CRS_20080731.xlsx', index_col=0)
crs_20090731 = pd.read_excel('./xlsx/CRS/CRS_20090731.xlsx', index_col=0)
crs_20100731 = pd.read_excel('./xlsx/CRS/CRS_20100731.xlsx', index_col=0)
crs_20110731 = pd.read_excel('./xlsx/CRS/CRS_20110731.xlsx', index_col=0)
crs_20120731 = pd.read_excel('./xlsx/CRS/CRS_20120731.xlsx', index_col=0)

In [3]:
crs_20022003 = pd.concat([crs_20030731, crs_20020731])
crs_20042005 = pd.concat([crs_20050731, crs_20040731])
crs_20062007 = pd.concat([crs_20070731, crs_20060731])
crs_20082009 = pd.concat([crs_20090731, crs_20080731])
crs_20102011 = pd.concat([crs_20110731, crs_20100731])

In [4]:
crs_02030405 = pd.concat([crs_20042005, crs_20022003])
crs_06070809 = pd.concat([crs_20082009, crs_20062007])
crs_101112= pd.concat([crs_20120731, crs_20102011])

In [5]:
crs_23456789 = pd.concat([crs_06070809, crs_02030405])
crs_101112= pd.concat([crs_20120731, crs_20102011])

In [6]:
crs_20022012 = pd.concat([crs_101112, crs_23456789])
crs_20022012

,1Y,Ask,전일비,Bid,전일비.1,Mid,전일비.2,2Y,Ask.1,전일비.3,...,전일비.10,Mid.3,전일비.11,10Y,Ask.4,전일비.12,Bid.4,전일비.13,Mid.4,전일비.14
DateTime,,,,,,,,,,,,,,,,,,,,,
2013-07-31,1Y,2.04,-0.03,1.44,-0.03,1.74,-0.03,2Y,1.85,-0.03,...,-0.03,1.83,-0.03,10Y,2.46,-0.03,1.84,-0.05,2.15,-0.04
2013-07-30,1Y,2.07,-0.03,1.47,-0.03,1.77,-0.03,2Y,1.88,-0.04,...,-0.04,1.86,-0.04,10Y,2.49,-0.04,1.89,-0.04,2.19,-0.04
2013-07-29,1Y,2.10,0.04,1.50,0.04,1.80,0.04,2Y,1.92,0.07,...,0.07,1.90,0.07,10Y,2.53,0.06,1.93,0.06,2.23,0.06
2013-07-26,1Y,2.06,0.01,1.46,0.01,1.76,0.01,2Y,1.85,0.01,...,0.00,1.83,0.00,10Y,2.47,0.01,1.87,0.01,2.17,0.01
2013-07-25,1Y,2.05,0.03,1.45,0.03,1.75,0.03,2Y,1.84,0.01,...,0.02,1.83,0.02,10Y,2.46,0.01,1.86,0.01,2.16,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-08-07,1Y,4.64,-0.04,4.56,-0.04,4.60,-0.04,2Y,4.81,-0.01,...,-0.03,5.35,-0.03,10Y,5.94,-0.05,5.84,-0.05,5.89,-0.05
2002-08-06,1Y,4.68,0.10,4.60,0.10,4.64,0.10,2Y,4.82,0.09,...,0.06,5.38,0.06,10Y,5.99,0.07,5.89,0.07,5.94,0.07
2002-08-05,1Y,4.58,-0.13,4.50,-0.13,4.54,-0.13,2Y,4.73,-0.13,...,-0.15,5.32,-0.15,10Y,5.92,-0.15,5.82,-0.15,5.87,-0.15
2002-08-02,1Y,4.71,-0.06,4.63,-0.06,4.67,-0.06,2Y,4.86,-0.08,...,-0.04,5.47,-0.04,10Y,6.07,-0.08,5.97,-0.08,6.02,-0.08
2002-08-01,1Y,4.77,-0.02,4.69,-0.02,4.73,-0.02,2Y,4.94,-0.02,...,-0.04,5.51,-0.04,10Y,6.15,-0.04,6.05,-0.04,6.10,-0.04

In [7]:
crs_20022012.columns

Index(['1Y', 'Ask', '전일비', 'Bid', '전일비.1', 'Mid', '전일비.2', '2Y', 'Ask.1',
       '전일비.3', 'Bid.1', '전일비.4', 'Mid.1', '전일비.5', '3Y', 'Ask.2', '전일비.6',
       'Bid.2', '전일비.7', 'Mid.2', '전일비.8', '5Y', 'Ask.3', '전일비.9', 'Bid.3',
       '전일비.10', 'Mid.3', '전일비.11', '10Y', 'Ask.4', '전일비.12', 'Bid.4',
       '전일비.13', 'Mid.4', '전일비.14'],
      dtype='object')

In [8]:
crs_20022012.drop(['Ask', '전일비', 'Bid', '전일비.1', '전일비.2', 'Ask.1',
       '전일비.3', 'Bid.1', '전일비.4', '전일비.5', 'Ask.2', '전일비.6',
       'Bid.2', '전일비.7', '전일비.8', 'Ask.3', '전일비.9', 'Bid.3',
       '전일비.10', '전일비.11', 'Ask.4', '전일비.12', 'Bid.4',
       '전일비.13', '전일비.14'], axis=1, inplace=True)

In [9]:
crs_20022012

            1Y   Mid  2Y  Mid.1  3Y  Mid.2  5Y  Mid.3  10Y  Mid.4
DateTime
2013-07-31  1Y  1.74  2Y  1.540  3Y   1.55  5Y   1.83  10Y   2.15
2013-07-30  1Y  1.77  2Y  1.570  3Y   1.58  5Y   1.86  10Y   2.19
2013-07-29  1Y  1.80  2Y  1.605  3Y   1.62  5Y   1.90  10Y   2.23
2013-07-26  1Y  1.76  2Y  1.535  3Y   1.55  5Y   1.83  10Y   2.17
2013-07-25  1Y  1.75  2Y  1.525  3Y   1.54  5Y   1.83  10Y   2.16
...         ..   ...  ..    ...  ..    ...  ..    ...  ...    ...
2002-08-07  1Y  4.60  2Y  4.770  3Y   4.95  5Y   5.35  10Y   5.89
2002-08-06  1Y  4.64  2Y  4.780  3Y   4.97  5Y   5.38  10Y   5.94
2002-08-05  1Y  4.54  2Y  4.690  3Y   4.88  5Y   5.32  10Y   5.87
2002-08-02  1Y  4.67  2Y  4.820  3Y   5.01  5Y   5.47  10Y   6.02
2002-08-01  1Y  4.73  2Y  4.900  3Y   5.08  5Y   5.51  10Y   6.10

[2746 rows x 10 columns]

In [10]:
crs_20022012.sort_index()

            1Y   Mid  2Y  Mid.1  3Y  Mid.2  5Y  Mid.3  10Y  Mid.4
DateTime
2002-08-01  1Y  4.73  2Y  4.900  3Y   5.08  5Y   5.51  10Y   6.10
2002-08-02  1Y  4.67  2Y  4.820  3Y   5.01  5Y   5.47  10Y   6.02
2002-08-05  1Y  4.54  2Y  4.690  3Y   4.88  5Y   5.32  10Y   5.87
2002-08-06  1Y  4.64  2Y  4.780  3Y   4.97  5Y   5.38  10Y   5.94
2002-08-07  1Y  4.60  2Y  4.770  3Y   4.95  5Y   5.35  10Y   5.89
...         ..   ...  ..    ...  ..    ...  ..    ...  ...    ...
2013-07-25  1Y  1.75  2Y  1.525  3Y   1.54  5Y   1.83  10Y   2.16
2013-07-26  1Y  1.76  2Y  1.535  3Y   1.55  5Y   1.83  10Y   2.17
2013-07-29  1Y  1.80  2Y  1.605  3Y   1.62  5Y   1.90  10Y   2.23
2013-07-30  1Y  1.77  2Y  1.570  3Y   1.58  5Y   1.86  10Y   2.19
2013-07-31  1Y  1.74  2Y  1.540  3Y   1.55  5Y   1.83  10Y   2.15

[2746 rows x 10 columns]

In [11]:
crs_20022012.to_excel('./xlsx/CRS_20022012.xlsx')